<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /osc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /osc/index.php [L]
</IfModule>